a
{
    text-decoration:none;
}
a:link
{
    color:black;
}
a:visited
{
    color:black;
}
a:hover
{
    text-decoration:underline;
}
#gplu
{
    margin-top:0.3%;
    text-decoration:none;
    position:absolute;
    margin-left:85%;
}
#gmail
{
    margin-top:0.3%;
    text-decoration:none;
    position:absolute;
    margin-left:88%;
}
#imag
{
    margin-top:0.3%;
    text-decoration:none;
    position:absolute;
    margin-left:91%;
}
#img
{
    position:absolute;
    margin-left:35.5%;
    margin-top:8%;
}
#search
{
    position:absolute;
    margin-left:26%;
    margin-top:25%;
}
#sear
{
    border:1px solid #DCDCDC;
    padding:1.2%;
    background-color:#F6F6F6;
    font-family:Tahoma;
    font-weight:bold;
    font-size:70%;
    line-height:80%;
    position:absolute;
    margin-left:30%;
    margin-top:2%;
}
#fefe
{
    position:absolute;
    margin-left:50%;
    margin-top:2%;
    border:1px solid #DCDCDC;
    padding:1.2%;
    background-color:#F6F6F6;
    font-family:Tahoma;
    font-weight:bold;
    font-size:70%;
    line-height:80%;
    position:absolute;
}
#feel
{
     position:absolute;
    margin-left:50%;
    margin-top:27.535%;
}
#sign
{
    position:absolute;
    text-align:center;
    background-color:#4487FA;
    height:3%;
    width:4%;
    border-radius:0.2%;
    margin-left:95%;
    margin-top:0.2%;
}
#sn
{
    color:white;
}
#searc
{     size:100%;
       height:20%;
    font-size:110%;
}
